<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-if="!isUpdating">
            <input type="text" v-model="user" name="user" id="user" @keyup.enter="addUser">
            <button @click="addUser()">add</button>    
        </div>
        <div v-else>
            <input type="text" v-model="user" name="user" id="user" @keyup.enter="updateUser">
            <button @click="updateUser()">Update</button>
        </div>
        
        <ul v-for="(user, index) in users">
            <li>{{ user.name }}
                <button @click="deleteUser(index)">Delete</button>
                <button @click="editUser(index)">Update</button>
            </li>    
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isUpdating  : false,
                selectedIndex : null,
                users : [
                    {
                        'name' : 'Muhammad Iqbal Mubarok',
                    },
                    {
                        'name' : 'Ruby Purwanti',
                    },
                    {
                        'name' : 'Faqih Muhammad',
                    },
                ],
                user : ""
               
            },
            methods: {
                addUser() {
                    this.users.push({name: this.user});
                    this.user = "";
                },
                deleteUser(index) {
                    let ask = confirm("Apakah anda yakin ingin menghapusnya?")
                    if(ask == true){
                        this.users.splice(index, 1);
                    } else{
                        return
                    }
                },
                editUser(index) {
                    this.user =  this.users[index].name;
                    this.selectedIndex = index
                    this.isUpdating = true
                },
                updateUser() {
                    this.users[this.selectedIndex].name = this.user
                    this.isUpdating = false
                    this.user = ""
                }
            }
        })
    </script>
</body>
</html>